SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
# Provide a real gmail address here
SMTP_USERNAME=your_email@gmail.com
# Provide an App Password (not your standard login password)
SMTP_PASSWORD=your_app_password
SMTP_FROM_EMAIL=your_email@gmail.com
